<div class="mt-5 flex justify-start">
  <a
    routerLink="../home"
    class="btn variant-ghost sz-md w-max flex items-center gap-2 group"
  >
    <span class="group-hover:-translate-x-1 duration-300"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"
        />
      </svg>
    </span>
    <span>Goo back</span>
  </a>
</div>
<section class="p-4 grid lg:grid-cols-2 gap-6 lg:gap-10">
  <div class="p-4">
    <div class="card variant-mixed sz-md lg:h-[70vh]"></div>
  </div>
  <div class="p-4">
    <div>
      <h2>Nom produit</h2>
      <p class="mt-4">Details</p>
    </div>
    <div>
      <p class="text-3xl lg:text-5xl font-semibold mt-4">
        <span>$</span>
        <span>400</span>
      </p>

      <div class="flex items-center gap-2 mt-8">
        <button (click)="minusItemNumber()" class="btn variant-outlined size-10 text-2xl">-</button>
        <div class="size-10 rounded-full bg-white/5 grid place-content-center">
          <span> {{itemsNumber()}} </span>
        </div>

        <button (click)="addItemNumber()" class="btn variant-outlined size-10 text-2xl">+</button>
      </div>

      <div class="flex flex-col lg:flex-row lg:items-center gap-5 mt-2">
        <button class="btn variant-primary mt-2 sz-lg rounded-full">
          Acheter maintenant
        </button>
        <button
          class="btn dark:bg-white/5 bg-gray-950/5 border duration-200 hover:bg-gray-950/10 dark:hover:bg-white/10 mt-4 sz-lg rounded-full"
        >
          Ajouter au panier
        </button>
      </div>
    </div>
  </div>
</section>
