<section class="grid place-content-center h-[80vh]">
    <div class="lg:w-[25vw] card variant-mixed sz-md">
        <h1>Connectez-vous</h1>

        <div class="mt-4">
            <button class="btn sz-sm variant-neutral"><span>Google</span></button>
        </div> 
        <div class="flex flex-col gap-2 mt-4">
            <input type="email" name="" class="input variant-mixed sz-md" id="" placeholder="votre email">
            <input type="password" name="" class="input variant-mixed sz-md" id="" placeholder="votre mot de passe">
        </div>

        <button class="mt-4 btn variant-primary sz-md"><span>se connecter</span></button>
    </div>
</section>