<footer class="h-[65vh] bg-black p-6 lg:p-10">
    <div class="grid lg:grid-cols-2 h-full">
        <div class="flex flex-col h-full justify-between">
            <div class="uppercase flex gap-10 lg:gap-20">
                <div>
                    <ul>
                        <li><a href="">Lien</a></li>
                        <li><a href="">Lien</a></li>
                        <li><a href="">Lien</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li><a href="">Lien</a></li>
                        <li><a href="">Lien</a></li>
                        <li><a href="">Lien</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <span class="text-sm text-gray-500">copyright &copy; 2025 gakr</span>
            </div>
        </div>
        <div>
            <div class="uppercase flex flex-col justify-end">
                <h2 class="text-4xl lg:text-9xl font-bold text-end">
                    <span>Be free</span>
                </h2>
                <h2 class="text-4xl lg:text-9xl font-bold text-end">
                    <span>Express N</span>
                </h2>
                
                <div class="grid lg:grid-cols-3 items-center mt-5">
                    <p class="text-sm lg:col-span-2">
                        Unlock a world of possibilities with gakr. Get exclusive drops, behind-the-scenes content, and invitations to special events.
                    </p>
                    <div class="mt-8 flex justify-end">
                        <a
                          class="p-4 hover:cursor-pointer group border flex w-max px-12 bg-gradient-to-l from-white to-gray-200 items-center gap-2 text-gray-900 uppercase hover:px-14 duration-300 active:scale-90"
                        >
                          <span class="group-hover:text-gray-700 duration-300">Join us</span>
                          <span class="group-hover:translate-x-2 duration-300">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              class="size-5"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
                              />
                            </svg>
                          </span>
                        </a>
                      </div>
                </div>
            </div>
        </div>
    </div>
</footer>