<section
  class="h-[100vh] flex items-end lg:px-20 pb-20 relative w-screen overflow-hidden"
>
  <div
    class="h-full w-full absolute z-20 bg-gradient-to-t from-black/95 to-black/80 inset-0"
  ></div>
  <img
    src="/toro.jpg"
    class="absolute z-0 h-full w-full inset-0 object-cover"
    alt=""
  />
  <div class="flex relative z-50">
    <div>
      <p class="text-xl uppercase mb-3">Enjoy new collection</p>
      <h1 class="uppercase text-5xl lg:text-8xl font-black">
        <span>New drop, new you</span>
      </h1>
      <h2 class="uppercase text-5xl lg:text-8xl font-black">
        <span>Create your world</span>
      </h2>

      <div class="mt-8">
        <a
          class="p-4 hover:cursor-pointer group border flex w-max px-12 bg-gradient-to-l from-white to-gray-200 items-center gap-2 text-gray-900 uppercase hover:px-14 duration-300 active:scale-90"
        >
          <span class="group-hover:text-gray-700 duration-300">Explore our new drop</span>
          <span class="group-hover:translate-x-2 duration-300">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
              />
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
