<header
  class="flex lg:justify-between w-full lg:items-center p-4 z-50 lg:px-6 sticky top-0 uppercase"
>
  <div class="flex items-center gap-4">
    <div>
      <a href="">E-com</a>
    </div>
    <nav class="border-l pl-5">
      <ul class="flex items-center gap-5">
        <li><a href="">Categories</a></li>
        <li><a href="">Deals</a></li>
        <li><a href="">What new ?</a></li>
        <li><a href="">Delivery</a></li>
      </ul>
    </nav>
  </div>

  <div class="flex items-center gap-4">
    <div class="flex items-center gap-2">
      <button
        class="btn variant-outlined sz-md w-40 flex justify-between items-center"
      >
        <div class="flex items-center gap-2">
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
              />
            </svg>
          </span>
          <span>Search</span>
        </div>
        <div class="">
          <p class="kbd">
            <span class="">S</span>
          </p>
        </div>
      </button>
    </div>
    <a routerLink="../login" class="btn variant-ghost sz-md">Account</a>
    <!-- card -->
    <button (click)="togglecart()" class="btn variant-ghost sz-md relative uppercase">
      <span>
        cart
      </span>
      <span class="absolute right-1 top-1 text-xs">0</span>
    </button>
  </div>
</header>

<!-- cart -->
<section
  [ngClass]="{ 'scale-0 opacity-0': isCartOpen === false }"
  class="bg-white/50 dark:bg-gray-950/50 inset-0 backdrop-blur-lg h-dvh w-screen fixed duration-300 origin-top grid place-content-center z-50"
>
  <div class="card variant-mixed h-[70vh] w-[90vw] lg:w-[80vw] flex flex-col justify-between gap-4">
    <div class="flex items-center justify-between border-b pb-2">
      <h3 class="text-xl font-semibold">Your Cart</h3>
      <button (click)="togglecart()" class="btn variant-outlined sz-lg">
        <span>Close</span>
      </button>
    </div>
    <div class="mt-4 h-full">
      <app-cartlist />
    </div>

    <div>
      <button class="btn variant-primary sz-lg rounded-full px-8">Buy Now</button>
    </div>
  </div>
</section>
