<header
  class="flex lg:justify-between w-full lg:items-center p-4 z-50 lg:px-6 sticky top-0 uppercase"
>
  <div class="flex items-center gap-4">
    <div>
      <a href="" class="text-2xl font-semibold">GAKR</a>
    </div>
    <nav class="border-l pl-5">
      <ul class="flex items-center gap-5">
        <li><a href="">Categories</a></li>
        <li><a href="">Deals</a></li>
        <li><a href="">What new ?</a></li>
        <li><a href="">Delivery</a></li>
      </ul>
    </nav>
  </div>

  <div class="flex items-center gap-4">
    <div class="flex items-center gap-2">
      <button
        class="flex uppercase justify-between items-center"
      >
        <div class="flex items-center gap-2">
          <span>Search</span>
        </div>
      </button>
    </div>
    <a routerLink="../login" class="btn variant-ghost sz-md">Account</a>
    <!-- card -->
    <button (click)="togglecart()" class="btn variant-ghost sz-md relative uppercase">
      <span>
        cart
      </span>
      <span class="absolute right-1 top-1 text-xs">0</span>
    </button>
  </div>
</header>

<!-- cart -->
<section
  [ngClass]="{ 'opacity-0 z-0': isCartOpen === false ,'z-50': isCartOpen === true }"
  class="fixed duration-300 h-screen w-screen inset-0 bg-white/40 dark:bg-gray-950/30 lg:flex lg:justify-end lg:items-center lg:pr-10"
>
  <div [ngClass]="{ 'scale-0': isCartOpen === false }" class="bg-black h-[70vh] w-[90vw] lg:w-[40vw] duration-300  origin-top-right flex p-10 flex-col justify-between gap-4">
    <div class="flex items-center justify-between border-b pb-2">
      <h3 class="text-xl font-semibold">Your Cart</h3>
      <button (click)="togglecart()" class="btn variant-outlined sz-lg">
        <span>Close</span>
      </button>
    </div>
    <div class="mt-4 h-full">
      <app-cartlist />
    </div>

    <div>
      <button class="btn variant-primary sz-lg rounded-full px-8">Buy Now</button>
    </div>
  </div>
</section>
