<a routerLink="/details" class="group">
    <div class="card p-0">
        <div class="h-[35Vh] card p-0 variant-soft relative group-hover:ring-1 ring-primary-600/30 duration-200">
            <img src="" alt="">
            <div class="card absolute right-3 top-3 bg-white/20 size-10 rounded-full "></div>
        </div>
        <div class="p-2 mt-3">
            <div class="flex justify-between items-center">
                <h2 class="text-2xl font-normal text-title group-hover:translate-x-1 duration-200">Nom produit</h2>
                <p class="text-title text-xl group-hover:-translate-x-2 duration-200">
                    <span>200</span>
                    <span class="text-sm">$</span>
                </p>
            </div>
            <p class="mt-2 group-hover:translate-x-1 duration-200 ">Description du produit ici</p>
            
        </div>
        <div class="mt-5">
            <button class="btn border group-hover:-translate-y-2 hover:bg-primary-600 hover:text-white duration-300 sz-lg rounded-full">
                <span>Add to cart</span>
            </button>
        </div>
    </div>
</a>